<html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <title>Update task</title>
    </head>
    <body>
        <div class='container'>
        <h1>Update {{ task.getDescription }}</h1>

        <form action='/tasks/{{ task.getId }}' method='post'>
            <input name='_method' type='hidden' value='patch'>

            <label for='description'>Edit task:</label>
            <input id='description' name='description' type='text'>

            <label for='status'>Completed?</label>
            <select id='status' name='status' type='text' value=0>
                <option value=1>Yes</option>
                <option value=0>No</option>
            </select>

            <button type='submit'>Update</button>
        </form>

        <form action='/tasks/{{ task.getId }}' method='post'>
            <input name='_method' type='hidden' value='delete'>
            <button type='submit'>Delete this task</button>
        </form>
    </div>
    </body>
</html>
